<div class="card">
    <div ng-if="upcomingEvents">
        <div class="item item-divider">
            Upcoming
        </div>
        <div class="item">
            <events-list events="upcomingEvents" location="locationWWW"></events-list>
        </div>
    </div>
    <div ng-if="inProgressEvents">
        <div class="item item-divider">
            In Progress
        </div>
        <div class="item">
            <events-list events="inProgressEvents" location="locationWWW"></events-list>
        </div>
    </div>
    <div ng-if="pastEvents">
        <div class="item item-divider">
            Past
        </div>
        <div class="item">
            <events-list events="pastEvents" location="locationWWW"></events-list>
        </div>
    </div>
</div>