<ion-view title="{{ConferenceInfo.Name}}" animation="slide-left-right">
    <ion-nav-buttons side="left">
        <button class="button icon button-clear ion-arrow-left-c" ng-click="back()" ng-i18next="[aria-label]app.goback"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="card">
            <div class="item item-divider item-icon-left item-icon-right">
                <i class="icon" ng-class="isStarredStyle" ng-click="clickStar()" ng-i18next="[aria-label]paper.star"></i>
                <h2 class="tablecell"><span class="middle" ng-bind-html="paperData.Title"></span></h2> 
                <i class="icon ion-ribbon-b colorGold" ng-show="paperData.Award" ng-i18next="[aria-label]paper.award"></i>
            </div>
            <div clas="item item-divider">
                <div class="list">
                    <people-item ng-repeat="key in paperData.Authors" conference="conferenceId" key="key"></people-item>
                </div>
            </div>
            <div clas="item item-divider">
                <session-item conference="conferenceId" paperkey="paperData.Key"></session-item>

            </div>
            <div clas="item item-divider">

                <a ng-click="openInBrowser(paperData.googleScholar)" href="" ng-show="paperData.googleScholar"  ng-i18next="[aria-label]paper.gotogoogle" class="padding"><img ng-src="img/gs64.png" class="padding"></a> 
                <a ng-click="openInBrowser(paperData.urlDOI)" href="" ng-show="paperData.DOI" class="padding" ng-i18next="[aria-label]paper.gotodoi"><img ng-src="img/doi64.png" class="padding"></a>

            </div>
            <div clas="item item-divider item-text-wrap padding">
                {{paperData.Abstract}}
            </div>
        </div>
    </ion-content>
</ion-view>