<ion-view title="{{ConferenceInfo.Name}}">
    <ion-nav-buttons side="left">
        <button class="button icon button-clear ion-arrow-left-c" ng-click="backToEventsList()" ng-i18next="[aria-label]app.backtoevents"></button>
    </ion-nav-buttons>
    <ion-content>
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search" ng-model="q">
        </label>
        <div class="list">
            <div ng-repeat="person in people | filter:q" on-last-list-item>
                <div ng-show="showPeopleDivider($index)" class="item item-divider">
                    <h2>{{ dividerTitle($index) }}</h2>
                </div>
                <people-item conference="conferenceId" person="person"></people-item>
            </div>
        </div>
    </ion-content>
</ion-view>
