<ion-view title="{{ConferenceInfo.Name}}" animation="slide-left-right">
    <ion-nav-buttons side="left">
        <button class="button icon button-clear ion-arrow-left-c" ng-click="back()" ng-i18next="[aria-label]app.goback"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="card">
            <div class="item item-divider item-icon-left">
                <i class="icon" ng-class="isStarredStyle" ng-click="clickStar()" ng-i18next="[aria-label]people.star"></i>
                <div class="tablecell">
                    <div class="middle">
                        <h2 ng-bind-html="peopleData.Name"></h2> 
                        <h3 ng-bind-html="peopleData.Affiliation"></h3>
                    </div>

                </div>
            </div>
            <div clas="item item-divider">
                <a ng-click="openInGoogleScholar(peopleData.googleScholar)" href="" ng-show="peopleData.googleScholar" class="padding">
                    <img ng-src="./img/gs64.png" class="padding">
                </a>
            </div>
            <div clas="item item-divider">
                <session-item ng-repeat="session in Sessions" conference="conferenceId" session="session"></session-item>
            </div>


            <div clas="item item-divider">
                <div class="list">
                    <paper-item ng-repeat="item in Items" conference="conferenceId" paper="item"></paper-item>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>