<ion-view>
    <ion-tabs class="tabs-icon-top tabs-dark">
        <ion-tab title="Sessions" icon="ion-ios7-browsers-outline" href="#/conference/{{conferenceId}}/sessions">
            <ion-nav-view name="sessions-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Custom" icon="ion-star" href="#/conference/{{conferenceId}}/custom">
            <ion-nav-view name="custom-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="People" icon="ion-ios7-people" href="#/conference/{{conferenceId}}/people">
            <ion-nav-view name="people-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Papers" icon="ion-document-text" href="#/conference/{{conferenceId}}/papers">
            <ion-nav-view name="papers-tab"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>