

<ion-tabs class="tabs-icon-top tabs-positive">
    <ion-tab title="Sessions" icon="ion-home" href="#/tab/sessions">
        <ion-nav-view name="session-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Custom" icon="ion-ios7-information" href="#/tab/custom">
        <ion-nav-view name="custom-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="People" icon="ion-ios7-world" href="#/tab/people">
        <ion-nav-view name="people-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Papers" icon="ion-ios7-world" href="#/tab/papers">
        <ion-nav-view name="papers-tab"></ion-nav-view>
    </ion-tab>
</ion-tabs>