/* Empty. Add your own CSS if you like */
 .colour0 {
    background-color: #00A8DF;
}
.colour1 {
    background-color: #fb7009;
}
.colour2 {
    background-color: #60124e;
}
.colour3 {
    background-color: #269926;
}
.colour4 {
    background-color: #ef3125;
}
.colour5 {
    background-color: #006666;
}
.colour6 {
    background-color: #7B4A12;
}
.colour7 {
    background-color: #009664;
}
.colour8 {
    background-color: #bf7000;
}
.colour9 {
    background-color: #422663;
}
.colour10 {
    background-color: #DAA520;
}
.colour11 {
    background-color: #738F9B;
}
.colour12 {
    background-color: #78200b;
}
.colour13 {
    background-color: #1d447c;
}
.colour14 {
    background-color: #206900;
}
.colorWhite {
    color: #fff;
}
.colorGold {
    color: #FFD700;
}
.starredMarginTop5px {
	margin-top:5px;
}
.starredMarginTop15px {
    margin-top:15px;
}
.starred {
    margin-right:20px;
	line-height:1.25em;
	font-size:1.5em;
}
.tablecell {
	display: table-cell;
}
.middle {
	vertical-align: middle;
}


/*@moon-spinner-time: 20s;*/
/* Fun - Weird Clock*/
/*
@moon-spinner-ball-width: 5%;
@moon-spinner-ball-distance: 0%;
@moon-spinner-ball-angle: 40deg;
*/
@keyframes spinBall {
  /* Slow down toward the top */
  /* Speed back up as the ball falls */
  /* Impact at last ball */
  0% {
    transform: rotateZ(15deg); }

  15% {
    transform: rotateZ(160deg); }

  25% {
    transform: rotateZ(200deg); }

  30% {
    transform: rotateZ(225deg); }

  34% {
    transform: rotateZ(315deg); }

  39%, 67% {
    transform: rotateZ(345deg); }

  72% {
    transform: rotateZ(385deg); }

  79%, 100% {
    transform: rotateZ(375deg); } }

@keyframes spinBallAll {
  0% {
    transform: rotateZ(17deg); }

  100% {
    transform: rotateZ(377deg); } }

.moon-spinner {
  font-size: 128px; }

.moon-spinner {
  width: 2em;
  height: 2em;
  position: relative;
  background-color: rgba(102, 102, 102, 0.75);
  border-radius: 50%; }

.moon-spinner-old {
  border-radius: 73px;
  height: 73px;
  min-width: 73px;
  display: inline-block;
  background: #4d4d4d url(/moonstone/images/spinner.gif) no-repeat 7px 7px;
  color: #ffffff;
  line-height: 73px;
  margin: 0 10px; }

.moon-spinner-custom-background {
  background-color: transparent; }

.moon-spinner {
  width: auto;
  display: inline-block;
  border-radius: 2em;
  position: static;
  padding: 0.5em; }

.moon-spinner-ball-decorator {
  position: relative;
  width: 2em;
  height: 2em;
  float: left; }

.moon-spinner-text {
  float: left;
  line-height: 2em;
  margin: 0 2ex 0 0.5ex; }

.moon-spinner .moon-spinner-ball {
  text-align: center;
  font-size: 80%;
  position: absolute;
  border-radius: 50%;
  animation: spinBall 1.83s linear infinite;
  /* Alternate animation */
  /*-webkit-animation: spinBallAll @moon-spinner-time linear infinite;*/
  height: 15%;
  width: 15%;
  line-height: 0.4em;
  left: 42.5%;
  bottom: 15%;
  transform-origin: center -133.33333;
  /*Rice Mode!*/
  /*background-image: -webkit-linear-gradient(top, rgb(224, 224, 224), white 30%, rgb(165, 165, 165))*/ }

.moon-spinner .moon-spinner-ball1 {
  animation-delay: 0s;
  transform: rotateZ(15deg);
  background-color: #69cdff; }

.moon-spinner .moon-spinner-ball2 {
  animation-delay: 0.61s;
  transform: rotateZ(15deg);
  background-color: #ff4a4a; }

.moon-spinner .moon-spinner-ball3 {
  animation-delay: 1.22s;
  transform: rotateZ(15deg);
  background-color: #ffb80d; }
.moon-spinner-container {
	margin: 50px;
	font-size: 36px;
	display: inline-block;
	vertical-align: top;
}

.offscreen {
   position:absolute;
   left:-999px;
   width:1px;
   height:1px;
   top:auto;
   overflow:hidden;
}